<header>
    <ul>
        <li><a href="/"><i class="fa-solid fa-house-chimney"></i></a></li>
        <li><a href="/contacts"><i class="fa-solid fa-users"></i></a></li>
    </ul>
    <div class="arrow-btn-container">
        <button class="nav-left-arrow"><i id="arrow-icon" class="fa-solid fa-chevron-right"></i></button>
    </div>
</header>
